body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #555;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}


.box {
  width: 250px;
  height: 200px;
  text-align: center;
  padding: 30px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}


.box:nth-child(1) {
  background-color: #3498db; 
  color: #fff;
}

.box:nth-child(2) {
  background-color: #e74c3c; 
  color: #fff;
}

.box:nth-child(3) {
  background-color: #2ecc71; 
  color: #fff;
}

.box:nth-child(4) {
  background-color: #f39c12; 
  color: #fff;
}
.box:nth-child(5) {
  background-color: purple; 
  color: #fff;
}
.box:nth-child(6) {
  background-color: rgb(58, 203, 29); 
  color: #fff;
}

.box:hover {
  background-color: #555;
}

